---
import Layout from "@layouts/Layout.astro";

import { getLangFromUrl, useTranslations } from "../i18n/utils";
import SectionTitle from "@components/SectionTitle.astro";
import ProjectList from "@components/ProjectList.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import { getCollection } from "astro:content";

const projectsCollection = await getCollection("projects");
const projects = projectsCollection.map((project) => project.data);
---

<Layout title={t("projects.title")}>
  <section class="bg-[#121212] pt-36">
    <SectionTitle
      title={t("projects.header.title")}
      color="white"
      class="pb-8 px-4"
    />

    <ProjectList projects={projects} />
  </section>
</Layout>
