---
const { firstImage, altFirstImage, secondImage, altSecondImage } = Astro.props;
---

<section class="my-6 md:my-12 grid grid-cols-1 md:grid-cols-2 gap-y-4 gap-x-10">
  <figure>
    <img
      src={firstImage}
      alt={altFirstImage}
      class="aspect-square object-cover rounded-4xl w-full"
    />
  </figure>
  <figure>
    <img
      src={secondImage}
      alt={altSecondImage}
      class="aspect-square object-cover rounded-4xl w-full"
    />
  </figure>
</section>
