<button
  class="flex items-center justify-center md:hidden group bg-gray-50 rounded-xl cursor-pointer w-11 h-11 drop-shadow-xl"
  id="header-navbar-toggle"
  aria-controls="header-navbar"
  title="Mostrar Menú"
  aria-label="Mostrar menú"
>
  <div
    class="grid grid-cols-2 items-center justify-items-center w-10 h-10 group-aria-[expanded]:w-6 group-aria-[expanded]:h-6 transition-all ease-out duration-500 group-aria-[expanded]:rotate-45 relative"
  >
    <span class="block h-[3px] w-[3px] bg-black"></span>
    <span class="block h-[3px] w-[3px] bg-black"></span>
    <span class="block h-[3px] w-[3px] bg-black"></span>
    <span class="block h-[3px] w-[3px] bg-black"></span>
    <span
      class="h-[3px] w-[3px] bg-black absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 hidden group-aria-[expanded]:block"
    ></span>
  </div>
</button>
