---
const { title, href, isActive = false, ...props } = Astro.props;
---

<a
  href={href}
  class={`${isActive ? "is-active" : ""} py-3 px-1 flex md:items-center text-black`}
  {...props}
>
  {title}
  <slot />
</a>
<style>
  @media (min-width: 640px) {
    .is-active::before {
      content: "[";
      padding-inline: 0.2rem;
    }
    .is-active::after {
      content: "]";
      padding-inline: 0.2rem;
    }
  }
</style>
