---
import "@fontsource/space-grotesk";
import Header from "../components/Header.astro";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import PageSeo from "@components/PageSeo.astro";
import ProgressBar from "@components/ProgressBar.astro";

import { defaultLanguage } from "../i18n/ui";
import MainBody from "@components/MainBody.astro";
import IconClose from "@components/icons/IconClose.astro";
import PrimaryButton from "@components/PrimaryButton.astro";
import ProjectsSidebar from "@components/ProjectsSidebar.tsx";
const lang = Astro.currentLocale ?? defaultLanguage;

const { title, currentProject = null } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <PageSeo title={title} />
    <ClientRouter />
  </head>
  <body class="flex min-h-full flex-col product-layout">
    <ProgressBar />
    <Header />
    <div
      class="fixed top-6 right-6 scale-125 hover:scale-150 transition-all z-[100001]"
    >
      <PrimaryButton href="/portfolio" rounded={true}>
        <IconClose />
      </PrimaryButton>
    </div>
    <MainBody>
      <div class="mt-32 px-4">
        <div class="flex flex-col lg:flex-row mt-8 gap-y-8 lg:gap-x-4">
          <article
            class="flex flex-col flex-1 order-2 top-6 overflow-y-auto overflow-hidden"
          >
            <slot />
          </article>
          <aside
            transition:persist="sidebar"
            id="sidebar"
            class="lg:w-[26rem] order-1 lg:order-3 bg-white lg:sticky lg:h-[calc(100vh)] lg:top-6 overflow-y-auto overflow-hidden"
          >
            <ProjectsSidebar currentProject={currentProject} client:load />
          </aside>
        </div>
      </div>
      <style>
        @media (min-width: 701px) {
          article::-webkit-scrollbar {
            width: 0;
          }
        }
      </style>
    </MainBody>
  </body>
</html>
<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--body-bg);
    color: var(--text-color);
  }
</style>
